.page {
  /* min-height: 100%;
  overflow: hidden; */
  display: flex;
  flex-direction: column;
}

.page__main-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

/* .container {
  max-width: 1110px;
  margin: 0px auto;
} */
